* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-video {
  background-color: #000;
  color: #f5f5f7;
  overflow: visible;
  position: relative;
  z-index: 1;
}
.lift-transition-container,
.lift-transition-sticky-content {
  position: relative;
  width: 100%;
}
.sticky-wrapper {
  height: 400vh;
}
.sticky-content {
  display: flex;
  flex-direction: column;
  position: sticky;
  overflow: hidden;
  height: 100vh;
  top: 0;
}
.video-intro-wrapper,
.video-manifesto-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  width: 980px;
  left: calc(50% - 490px);
  position: absolute;
  pointer-events: none;
  z-index: 4;
}
.video-manifesto-wrapper {
  z-index: 3;
}
.content-block {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.section-headline-elevated {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0;
}
.section-headline {
  color: #86868b;
}
.section-subhead {
  color: #f5f5f7;
}
.section-intro {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}
.hidden {
  opacity: 0;
}
.will-change {
  will-change: transform, opacity;
}
.device-wrapper {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.device-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.video-container{
  width: 100%;
  height: 100%;
}
.video-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-scrim {
  background-color: black;
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
